.start-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game-container button {
    background-color: transparent;
    background-image: url('../assets/startButton.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 10rem;
}

.start-game-container button:hover {
    transform: scaleX(1.1) scaleY(1.1);
}
